body{
    background-color:thistle;
}
h1{
    color: tomato;
}
/*
margin: box의 경계(border)의 바깥에 있는 공간
border:
padding: box의 경계의 안쪽에 있는 공간
*/

/*
*{}을 쓰면  전체적용

.클래스 이름{}: class에 적용하는 거.
class는 id랑 비슷. 단, 유일성이 아님. 여러개 가질 수 있음.
*/