.recommended-friends{
    margin: 25px 0px;
    padding-bottom: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.recommended-friends__title{
    margin-top: 10px;
    font-size: 14px;
    color: var(--lightgrey);
    font-weight: 600;
}

.recommended-friends span{
    margin: 110px 0;
    display: block;
    text-align: center;
    font-size: 18px;
    color: var(--lightgrey);
}

.open-chat__header{
    display: flex;
    justify-content: space-between;
    color: var(--lightgrey);
    margin-bottom: 25px;
}

.open-chat__title{
    font-weight: 600;
}

.open-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-post__title{
    font-weight: 600;
    margin-bottom: 7px;
}

.open-post__hashtags{
    text-transform: uppercase;
    color: var(--lightgrey);
}

.open-post__members{
    margin-top: 7px;
    display: flex;
    align-items: center;
}

.open-post__members img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
}

.open-post__member-count{
    color: var(--lightgrey);
    font-size: 14px;
    
}

.open-post__members .divider{
    width: 2px;
    height: 15px;
    margin: 0 10px;
    background-color: var(--lightgrey);
}

.open-post__member-status{
    color: rgb(255, 137, 156);
}

.open-post__photo{
    position: relative;
}

.open-post__photo img{
    width: 120px;
    height: 120px;
    border-radius: 1em;
}

.open-post__like{
    background-color:rgba(0, 0, 0, 0.6);
    color: white;
    padding: 6px 10px;
    border-radius: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 12px;
}

.open-post__like span{
    margin-left: 3px;
}